@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*, ::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}
@keyframes bounceOut {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% { 
    transform: scale(1);
  }
}
html {
  scroll-behavior: smooth;
}
body { 
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #000a12;
  background-color: #f7f9fb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  animation: bounceOut 1s ;
}

.header {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: #397FAF;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header-box {
  width: 70%;
  height: 30%;
  text-align: center;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title  {
  font-weight: bold;
  color: #397FAF;
  text-transform: uppercase;
  font-size: 2.5vw;
}
.fixed {
  width: 100%;
  height: 8%;
  padding: 0 15%;
  font-size: 1.3vw;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.btn-p {
  min-width: 20%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #397FAF;
  font-size: 1.4vw;
  color: #FFF;
  border-color: #397FAF;
  overflow: hidden;
  transition: 1s;
}
.fixed .btn-p {
  min-width: 15%;
  font-size: 1.3vw;
  height: 70%;
}
.btn-p:hover {
  background-color: #FFF;
  color: #397FAF;
  border: 1px solid #397FAF;
}
.section {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.article {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.description {
  width: 90%;
  text-align: center;
  font-weight: lighter;
  font-size: 2vw;
}
.btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-transform: uppercase;
  background-color: #FFF;
  color: #000;
  transition: all 1s;
  animation: pulse 2s ease 0s infinite;
}
.btn:hover {
  background-color: #000;
  color: #FFF;
  animation: none;
}
.btn a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  70% {
      transform: scale(0.8);
  }
  100% {
      transform: scale(1);
  }
}


.produits {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.produit {
  width: 70%;
  height: 50vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.produit-img {
  width: 50%;
  height: 100%;
  padding: 5%;
  background-color: #397FAF;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.produit-text {
  width: 50%;
  height: 100%;
  padding: 5%;
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.produit-text h3{
  height: 10%;
  font-size: 1.3vw;
  text-transform: uppercase;
  overflow: hidden;
}
.detail {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.detail a {
  font-weight: bold;
  height: 10%;
  overflow: hidden;
  font-size: 0.9vw;
  font-weight: bold;
}
.detail a span{
  font-weight: lighter;
}
.params  {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.params p {
  font-weight: bold;
}
.params p span {
  font-weight: lighter;
}
.icons {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.icons .fa {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5%;
  border-radius: 50%;
  font-size: 1vw;
  background: #397FAF;
  color: #FFF;
  transition: all 0.5s;
}
.icons .fa:hover {
  transform: translateY(-50%);
}

.footer {
  width: 100%;
  height: 5vh;
  background-color: #397FAF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.copyright {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.projets {
  width: 100%;
  height: 100vh;
  background-color: #000000BB;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.send-email{
  width: 70%;
  height: 80%;
  background-color: #FFF;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-item {
  width: 90%;
  height: 10%;
  border: 0.5px solid #000;
  padding: 2%;
  margin-bottom: 2%;
  color: #000;
}
.send {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  cursor: pointer;
  background-color: #397FAF; 
  color: #FFF;
  margin-bottom: 2%;
}
.close {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  cursor: pointer;
  border: 0.5px solid  #397FAF; 
}
@media screen and (max-width:900px){
  body {
    font-size: 1vh;
  }
  .header-box, 
  .article, 
  .produit, 
  .cols, 
  .send-email {
    width: 80%;  
    font-size: 2.5vh;
  }
  .description {
    font-size: 2vh;
  }
  .fixed {
    width: 100%;
    padding: 0 10%;
  }
  .produit {
    flex-wrap: wrap;
  }
  .produit-img {
    width: 100%;
    height: 40%;
  }
  .produit-text {
    width: 100%;
    height: 60%;
  }
  .produit-text h3{
    font-size: 2vh;
  }
  .detail a {
    font-size: 1.3vh;
  }
}
@media screen and (max-width:500px){
  
  .header-box, .article, .produit, .cols, .send-email {
    width: 90%;
  }
  .fixed {
    width: 100%;
    padding: 0 5%;
  }

}